html {
    font-family: $fontPrimary;
    color: $themeBlack;
}

body {
    font-size: 1.6rem;
}

h1 {
    font-size: 8rem;
    line-height: 8.6rem;
    letter-spacing: -3.6px;
    font-family: 'bold';
    margin-bottom: 0.8em;
}

h2, .h2 {
    font-size: 3rem;
    line-height: 3.6rem;
    font-family: 'semi-bold';
}
.x-large {
    font-size: 27.5rem;
    font-family: 'semi-bold';
    border-bottom: 1px solid #76C4FF;
    padding-bottom: 50px;
    span:nth-child(2) {
        font-size: 0.1em;
    }
    @include tabletOnly {
        font-size: 18.6rem;
    }
}

.v-large {
    font-size: 12.4rem;
    letter-spacing:-4.96px;
    margin-bottom: 0;
    @include tabletOnly {
        font-size: 8rem;
    }
}

.large {
    font-size: 7.2rem;
    @include largeTablet {
        font-size: 5rem;
    }
}
.medium {
    font-size: 5rem;
}

.large-body {
    font-size: 2rem;
    line-height: 2.6rem;
}
.x-large-body {
    font-size:3.6rem;
}

.white {
    color: white;
}

.blue-underline {
    border-bottom: 1px solid #0054FF;
}

.blue {
    color: #0054FF;
}
.dark-blue {
    color: #002470;
}
.semi-bold {
    font-family: 'semi-bold';
}
.bold {
    font-family: 'bold';
}

.light-blue {
    color: #76C4FF;
}
.green {
    color: #1DBA00;
}
a {
    text-decoration: none;
    color: $themeBlack;
}

ul, 
p {
    margin-bottom: $spacingMedium;
}

b, strong {
    font-weight: bold;
}

.semi-bold {
    font-weight: 600;
}

.text-block {
    * {
        margin-bottom: 20px;
    }
}

button {
    font-family: $fontPrimary;
    font-size: 1.6rem;
}